@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html,
body {
	margin: 0;
	padding: 0;
	background-color: white;
	scroll-behavior: smooth;
	scroll-padding: -1300px;
}
.container {
	text-align: center;
	color: white;
}

.Navigation {
	list-style-type: none;
	overflow: hidden;
	margin-top: 10px;
	right: 15px;
	position: relative;
	top: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.Navigation li {
	float: left;
	list-style-type: none;
	top: 1%;
	text-align: center;
}

.Navigation li a {
	font-family: "Open Sans", sans-serif;
	display: block;
	color: grey;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.Navigation li a:hover {
	cursor: pointer;
}
.Navigation li a:hover {
	text-decoration: underline;
	text-decoration-color: #4285f4;
	color: black;
	text-underline-offset: 8px;
}
.Navigation li a:active {
	text-decoration: underline;
	text-decoration-color: #4285f4;
	color: black;
	text-underline-offset: 8px;
}
.head {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.head1,
.what1,
.contact1,
.chap1,
.team1 {
	padding-top: 100px;
	font-family: "Open Sans", sans-serif;
	color: #757575;
	font-size: 80px;
	font-weight: 500;
}
.head2,
.team2,
.contact2,
.what2,
.chap2 {
	padding-top: 100px;
	font-family: "Open Sans", sans-serif;
	color: #4285f4;
	font-size: 80px;
	font-weight: 500;
}

.headInfo,
.contactInfo {
	font-family: "Open Sans", sans-serif;
	padding-top: 280px;
	position: absolute;
	font-size: 20px;
	color: #757575;
}

.headPic {
	position: absolute;
	top: 450px;
	border-bottom: 1px solid #c4cfd1;
	padding-bottom: 40px;
}
.headPic-Pic {
	width: 800px;
	height: 400px;
}
.contact {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.contact1 {
	padding-top: 100px;
}
.contact2 {
	padding-top: 100px;
	color: #4285f4;
}

.contactInfo {
	padding-top: 280px;
}
.contact-info-highlight {
	color: #4285f4;
}
.contactPic {
	position: absolute;
	top: 4250px;
	border: 5px solid #00bb72;
	padding: 10px;
}
.animate {
	animation: slideInLeft;
	animation-duration: 1s;
}
.animate-info {
	animation: fadeInUp;
	animation-duration: 1s;
}

.what {
	padding-top: 300px;
	display: flex;
	justify-content: center;
}

.what1 {
	padding-top: 500px;
}
.what2 {
	padding-top: 500px;

	color: #00bb72;
}

.whatInfo {
	font-family: "Open Sans", sans-serif;
	position: absolute;
	font-size: 20px;
	color: #757575;
	word-wrap: break-word;
	text-align: center;
	top: 1400px;
}

.what-Info-Color {
	color: #00bb72;
}

.whatPic {
	position: absolute;
	top: 1550px;
	border-bottom: 1px solid #c4cfd1;
	padding-bottom: 40px;
}

.chapters {
	display: flex;
	justify-content: center;
}

.chap1 {
	padding-top: 750px;
}
.chap2 {
	padding-top: 750px;
	color: #f24336;
}
.buttons {
	display: flex;
	justify-content: space-around;
}
.buttons-2 {
	display: flex;
	padding-top: 50px;
	justify-content: space-evenly;
	border-bottom: 1px solid #c4cfd1;
	padding-bottom: 40px;
}
.Button {
	background-color: #1967d2;
	border-radius: 4px;
	font-family: "Open Sans", sans-serif;
	color: white;
	border: 2px solid #1967d2;
	font-size: 30px;
}

.Button:hover {
	background-color: white;
	color: #1967d2;
	cursor: pointer;
}

.team {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.team1 {
	padding-top: 100px;
}
.team2 {
	padding-top: 100px;
	color: #ffc107;
}

.teamInfo {
	font-family: "Open Sans", sans-serif;
	padding-top: 280px;
	position: absolute;
	font-size: 15px;
	color: #757575;
}

.teamPic {
	position: absolute;
	top: 450px;
	border-bottom: 1px solid #c4cfd1;
	padding-bottom: 40px;
}

.top,
.middle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.middle {
	justify-content: space-between;
	padding: 10px;
}

.Arinji-Pic,
.Nilay-Pic {
	position: relative;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: 5px solid #ffc107;
}

.Arinji,
.Nilay {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: #757575;
	border: 5px solid #757575;
	padding: 10px;
}

.Arinji h1 .Nilay h1 {
	color: #ffc107;
}
.Yuvraj-Pic,
.Saesha-Pic {
	position: relative;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid #ffc107;
}
.Yuvraj,
.Saesha {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: #757575;
	border: 5px solid #757575;
	padding: 10px;
}
#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 10px; /* Increase font size */
}

#myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}

@media only screen and (max-width: 600px) {
	.Navigation {
		list-style-type: none;
		overflow: hidden;
		margin-top: 10px;
		margin: 0;
		position: relative;
		top: 50px;
		left: 5px;
		text-align: center;
		display: flex;
		justify-content: center;
		padding: 0;
	}

	.head {
		flex-direction: column;
		align-self: center;
	}
	.head1,
	.head2 {
		text-align: center;
	}
	.head {
		align-items: center;
	}
	.headInfo {
		top: 200px;
		align-self: center;
	}
	.headPic {
		top: 600px;
	}
	.headPic-Pic {
		width: 100%;
		max-width: 500px;
		height: auto;
	}

	.whatInfo {
		top: 1500px;
	}
	.whatPic {
		top: 1700px;
	}
	.chap1 {
		text-align: center;
	}
	.team1 {
		text-align: center;
	}
	.top,
	.middle {
		flex-direction: column;
	}
	.contactInfo {
		text-align: center;
	}
	.contactPic {
		top: 5560px;
		border: 0px solid transparent;
	}
	.contactPic-Pic {
		visibility: hidden;
	}
}
