@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
#navbar {
  background-color: white;
}
#navbar-mobile {
  display: none;
}
.nav-ul {
  padding-top: 30px;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  border-top: 3px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  background-color: white;
}

a:-webkit-any-link,
.nav-ul-li {
  color: #757575;
  text-decoration: underline solid transparent;
}

a:-webkit-any-link:hover,
.nav-ul-li:hover {
  transition: text-decoration-color 1s ease-in-out;
  text-decoration-color: blue;
  text-underline-offset: 35px;
  color: black;
  cursor: pointer;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}

.dropdown-content {
  display: none;
  text-decoration: underline solid transparent;
  padding: 10px;
  position: absolute;
  top: 60px;
  white-space: nowrap;
  left: 7px;
  z-index: 10;
  background-color: white;
}

.dropdown-content a:hover {
  text-decoration: underline solid transparent;
  color: #4285f4;
  display: block;
}

#contact-content {
  right: 400px;
  width: 100%;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.sticky + .content {
  padding-top: 60px;
}

.heading-wrapper {
  display: float;
  text-align: center;
  padding-top: 140px;
  line-height: 100px;
  padding-bottom: 30px;
  border-bottom: 4px solid #f5f5f5;
}

.heading-h1,
.heading-h1-color {
  font-weight: 500;
  font-size: 100px;
}

.heading-h1 {
  color: #757575;
}

.heading-h1-color {
  color: #4285f4;
}

.heading-p {
  color: #757575;
  font-size: 20px;
}
.heading-pic {
  width: 75%;
  border: 3px solid #757575;
  border-radius: 10px;
}
.title {
  color: #757575;
  font-size: 20px;
}
.who-are-we-wrapper,
.why-choose-us-wrapper,
.topic-wrapper,
.team-wrapper,
.contact-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 150px;
}
#WhoAreWe {
  position: relative;
  top: 40px;
}
#WhyChooseUs {
  position: relative;
  top: 180px;
}
#Topic {
  position: relative;
  top: 300px;
}
#Team {
  position: relative;
  top: 900px;
}
#Contact {
  position: relative;
  top: 650px;
}
.why-choose-us-wrapper {
  top: 300px;
  width: 100%;
  border-top: 3px solid #f5f5f5;
  border-bottom: 4px solid #f5f5f5;
}
.topic-wrapper {
  top: 500px;
  width: 100%;
}
.team-wrapper {
  top: 1100px;
  width: 100%;
}
.contact-wrapper {
  top: 800px;
  width: 100%;
}
.who-are-we-heading,
.why-choose-us-heading {
  font-weight: 500;
  font-size: 100px;
  color: #757575;
}

.who-are-we-heading-color,
.why-choose-us-heading-color {
  color: #ffc107;
}
.who-are-we-content,
.why-choose-us-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.who-are-we-pic,
.why-choose-us-pic {
  width: 30%;
}

.who-are-we-para,
.why-choose-us-para {
  justify-self: center;
  width: 50%;
  word-wrap: break-word;
  color: #757575;
  font-weight: 300;
  font-size: 30px;
}
.topic-heading {
  font-weight: 500;
  font-size: 100px;
  color: #757575;
  padding-bottom: 80px;
}

.topic-heading-color {
  color: #00bb72;
}
.mobile-option {
  display: none;
}
.team-heading {
  font-weight: 500;
  font-size: 100px;
  color: #757575;
  padding-bottom: 80px;
}

.team-heading-color {
  color: #f24336;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.buttons-2 {
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
  border-bottom: 1px solid #c4cfd1;
  padding-bottom: 40px;
}
.Button {
  background-color: white;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  border: 2px solid #00bb72;
  font-size: 30px;
  transition: background-color 1s ease;
}

.Button:hover {
  background-color: #00bb72;
  color: white;
  cursor: pointer;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.row2 {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.row2 {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.row3 {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.row4 {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.row5 {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.row-Pic {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.Top-Pic {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  z-index: 5;
}

.top-team {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  padding: 10px;
  box-shadow: 3px 20px #f5f5f5;
  transition: box-shadow 0.4s ease-in-out;
}
.top-team:hover {
  box-shadow: 3px 20px #757575;
}
.team-black {
  color: black;
}
.team-color {
  font-size: 25px;
  color: #f24336;
}
.info {
  background-color: white;
}

.team-2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  box-shadow: 3px 20px #f5f5f5;
  padding: 10px;
  transition: box-shadow 0.4s ease-in-out;
}
.team-2:hover {
  box-shadow: 3px 20px #757575;
}

.team-3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  box-shadow: 3px 20px #f5f5f5;
  padding: 10px;
  transition: box-shadow 0.4s ease-in-out;
}

.team-3:hover {
  box-shadow: 3px 20px #757575;
}
.team-4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  box-shadow: 3px 20px #f5f5f5;
  padding: 10px;
  transition: box-shadow 0.4s ease-in-out;
}

.team-4:hover {
  box-shadow: 3px 20px #757575;
}
.team-5 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  box-shadow: 3px 20px #f5f5f5;
  padding: 10px;
  transition: box-shadow 0.4s ease-in-out;
}

.team-5:hover {
  box-shadow: 3px 20px #757575;
}

.contact-heading {
  font-weight: 500;
  font-size: 100px;
  color: #757575;
}

.contact-heading-color {
  color: #4285f4;
}
.contact-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contact-pic {
  width: 30%;
}

.contact-para {
  justify-self: center;
  width: 50%;
  word-wrap: break-word;
  color: #757575;
  font-weight: 300;
  font-size: 20px;
  line-height: 50px;
}

.contact-highlight {
  color: #4285f4;
  font-size: 30px;
  border: 1px solid #4285f4;
  padding: 0 10px 0 10px;
  transition: all 0.4s ease-in;
}

.contact-highlight:hover {
  color: white;
  border: 1px solid white;
  background-color: #4285f4;
  cursor: pointer;
}

/* Animations */

.animate-head-pic {
  animation: zoomIn;
  animation-duration: 2s;
  width: 80%;
}
.animate-top {
  animation: fadeInUpBig;
  animation-duration: 1.2s;
}
.animate-right {
  animation: fadeInRightBig;
  animation-duration: 1.2s;
}

.animate-left {
  animation: fadeInLeftBig;
  animation-duration: 1.2s;
}
@media only screen and (max-width: 600px) {
  html {
    text-align: center;
  }
  .top,
  .row2,
  .row3 {
    flex-direction: column;
    box-shadow: 0px 0px white;
  }
  .top-team,
  .team-2,
  .team-3,
  .top-team:hover,
  .team-2:hover.team-3:hover {
    box-shadow: 0px 0px white;
  }
  .nav-ul,
  .dropdown ul {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    text-decoration: none;
  }
  a:-webkit-any-link:hover,
  .nav-ul-li:hover {
    text-decoration-color: transparent;
  }
  .nav-ul {
    align-items: baseline;
  }
  .who-are-we-content,
  .why-choose-us-content {
    flex-direction: column;
  }
  .who-are-we-pic,
  .why-choose-us-pic {
    width: 70%;
  }
  .heading-pic {
    display: none;
  }
  .who-are-we-para,
  .why-choose-us-para {
    font-size: 20px;
    text-align: start;
  }
  .heading-wrapper {
    padding-top: 80px;
  }
  .smaller {
    font-size: 24px;
  }
  .contact-content {
    flex-direction: column;
  }
  .contact-para {
    word-wrap: normal;
    line-height: 1.5;
  }
  .contact-highlight {
    font-size: 20px;
  }
  .animate-head-pic {
    animation: zoomIn;
    animation-duration: 0s;
  }
  .animate-top {
    animation: fadeInUpBig;
    animation-duration: 0s;
  }
  .animate-right {
    animation: fadeInRightBig;
    animation-duration: 0s;
  }

  .animate-left {
    animation: fadeInLeftBig;
    animation-duration: 0s;
  }
  #navbar {
    display: none;
  }
  #navbar-mobile {
    display: block;
    background-color: #f5f5f5;
  }
  .nav-ul-mobile {
    padding-top: 30px;
    list-style-type: none;
    text-decoration: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-top: 3px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    align-items: flex-start;
  }

  a:-webkit-any-link,
  .nav-ul-mobile-li:hover {
    color: #757575;
    text-decoration: underline solid transparent !important;
  }
  .burger {
    float: right;
    padding-right: 60px;
    padding-top: 20px;
  }
  .contact-pic {
    width: 80%;
  }
  .heading-p {
    line-height: 1.5;
  }
  .content {
    display: none;
  }
  .mobile-option {
    display: block;
    color: #757575;
  }
}
