@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html,
body {
  margin: 0;
  padding: 30px;
  background-color: black;
  text-align: center;
  scroll-behavior: smooth;
  color: #757575;
  font-family: "Open Sans", sans-serif;
}
.title {
  font-size: 80px;
  color: white;
}
body h3 {
  color: #757575;
  font-size: 20px;
  border-bottom: 2px solid #f5f5f5;
}
.heading {
  color: rgb(250 204 21);
  font-size: 50px;
}

.padded {
  padding: 30px;
}

.Head {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}
.spacing {
  padding-bottom: 70px;
}
.highlight {
  color: rgb(250 204 21);
}
.white {
  color: white;
}
.input {
  width: 20%;
  border-radius: 25px;
  outline: none;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  transition: width 0.4s ease-in-out;
  font-size: 15px;
  color: black;
  text-align: center;
}
.input:focus {
  width: 50%;
}

.logic-head {
  padding-top: 50px;
}
#choiceHead {
  padding-bottom: 30px;
}
#output {
  padding-top: 30px;
}
.red {
  color: red;
}
#list {
  padding-top: 30px;
  display: none;
}
.listItems {
  list-style-type: decimal;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.greenText {
  font-style: italic;
}
@media screen and (max-width: 600px) {
  .heading,
  .head h1 {
    padding-top: 30px;
  }
  .input {
    width: 50%;
  }
  .input:focus {
    width: 100%;
  }
}
