@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  padding: 50px;
  color: rgb(250 204 21);
  font-size: 40px;
  font-weight: 500;
  text-decoration: 5px overline underline #757575;
  text-underline-offset: 20px;
}

.animate-info {
  animation: fadeInUp;
  animation-duration: 1s;
}

.code {
  padding-top: 30px;
  color: rgb(250 204 21);
}
.code-text {
  color: white;
  background-color: rgb(5, 3, 3);
  max-width: 100%;
  border-radius: 8px;
  text-align: left;
  word-break: break-all;
  align-items: center;
}
.code-text p {
  padding: 5px;
  margin: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.logic h3 {
  color: rgb(250 204 21);
  padding-top: 30px;
}
